SECRET_KEY=django-insecure-change-me
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=

# Gmail SMTP (App Password kullan: https://myaccount.google.com/apppasswords)
EMAIL_HOST_USER=talhasaliheryilmaz@gmail.com
EMAIL_HOST_PASSWORD=haym idvj emct vljp
ILETISIM_ALICI_EMAIL=talhasaliheryilmaz@gmail.com
